---
layout: default
---

<div class="hero">
    <i class="icon-arkaroy-logo" style="font-size: 60px;"></i>
    <h1>Hello! I'm Arka Roy.</h1>
    <h2>I create super awesome web stuffs.</h2>
</div>

{% include about.html %}

<div class="section-divider"></div>

<h2 class="text-center text-uppercase"><strong>Portfolio</strong></h2>
<div class="section-title-sep"></div>
<div class="post-wrapper text-center">
    {% for post in site.categories['portfolio'] limit:4 %}
    <a href="{{ post.url }}" class="portfolio-thumbs">
        {% if post.thumbnail %}
            <img src="{{ site.img }}{{ post.thumbnail }}">
        {% endif %}
        <span><strong>{{ post.title }}</strong></span>
    </a>
    {% endfor %}
</div>
<br>
<div class="text-center">
    <a href="/portfolio/" class="primary-button">Full Portfolio</a>
</div>