---
title: Portfolio
layout: default
permalink: /portfolio/
---

<h1 class="text-center text-big"><span class="text-underline">Portfolio</span></h1>
<h4 class="text-center">Showing some of my works.</h4>

<br><br>

<div class="post-wrapper text-center">
    {% for post in site.categories['portfolio'] %}
    <a href="{{ post.url }}" class="portfolio-thumbs">
        {% if post.thumbnail %}
            <img src="{{ site.img }}{{ post.thumbnail }}-300.jpg">
        {% endif %}
        <!--<span><strong>{{ post.title }}</strong></span>-->
    </a>
    {% endfor %}
</div>

<div class="section-divider"></div>

{% include about.html %}