<h2 class="text-center text-uppercase"><strong>About Me</strong></h2>
<div class="section-title-sep"></div>
<p class="paragraph-center">Hi, I am a web designer and developer residing in Kolkata, India. I love to develop enriching and engaging websites and web applications with easy-to-use user interface. I am technically proficient, easy to work with and I have a phobia of imperfection. That's why I don't stop till it's perfect. So what are you waiting for?</p>
<br><br>
<h5 class="text-center text-uppercase"><span class="text-underline"><strong>Connect Me</strong></span></h5>
<div class="social-media-links text-center">
    <a href="http://www.facebook.com/{{ site.facebook_username }}" target="_blank">
        <i class="fa fa-facebook-square fa-fw fa-lg"></i> <strong>Facebook</strong>
    </a>
    <a href="http://www.twitter.com/{{ site.twitter_username }}" target="_blank">
        <i class="fa fa-twitter-square fa-fw fa-lg"></i> <strong>Twitter</strong>
    </a>
    <a href="http://www.behance.net/{{ site.behance_username }}" target="_blank">
        <i class="fa fa-behance-square fa-fw fa-lg"></i> <strong>Behance</strong>
    </a>
    <a href="http://www.github.com/{{ site.github_username }}" target="_blank">
        <i class="fa fa-github-square fa-fw fa-lg"></i> <strong>Github</strong>
    </a>
</div>