<footer>
    <span><i class="fa fa-copyright fa-fw"></i> 2015 Arka Roy</span>
    -
    <a href="http://www.facebook.com/{{ site.author.facebook }}" target="_blank" title="Facebook">Facebook</a>
    -
    <a href="http://www.twitter.com/{{ site.author.twitter }}" target="_blank" title="Twitter">Twitter</a>
    -
    <a href="https://plus.google.com/+{{ site.author.googleplus }}" target="_blank" title="Google+">Google+</a>
    -
    <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}" target="_blank" title="LinkedIn">LinkedIn</a>
    -
    <a href="http://www.behance.net/{{ site.author.behance }}" target="_blank" title="Behance">Behance</a>
    -
    <a href="http://www.github.com/{{ site.author.github }}" target="_blank" title="Github">Github</a>
</footer>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/assets/js/script.js"></script>