<div class="display-table">

    <header class="display-cell">

        <a href="{{ site.url }}" class="logo">
            <i class="icon-arkaroy-logo"></i>
            <span>Arka Roy</span>
        </a>

        <p>I'm a passionate and proficient web designer and application developer residing in Kolkata, India.</p>

        <nav class="main-nav">

            <ul class="main-menu">
                <li><a href="/about/">About</a></li>
                <li><a href="/portfolio/">Portfolio</a></li>
                <li><a href="/blog/">Blog</a></li>
                <li><a href="/contact/">Contact</a></li>
            </ul>                

        </nav>

    </header>

</div>