<div class="social-share text-center">
    <h3>Show your appreciation by sharing.</h3>
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.author.twitter }}&related={{ site.author.twitter }}" rel="nofollow" target="_blank" title="Share this on Twitter">
        <i class="fa fa-twitter fa-fw"></i>
    </a>
    <a href="https://www.facebook.com/sharer/sharer.php?t={{ page.title }}&u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share this on Facebook">
        <i class="fa fa-facebook fa-fw"></i>
    </a>
    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share this on Google Plus">
        <i class="fa fa-google-plus fa-fw"></i>
    </a>
    <a href="http://www.linkedin.com/shareArticle?mini=true&title={{ page.title }}&url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share this on LinkedIn">
        <i class="fa fa-linkedin fa-fw"></i>
    </a>
</div>