footer {
    color: #aaa;
    margin-top: 80px;
    font-size: 0.9em;
    border-top: 1px solid #ccc;
    padding: 10px 0;
    a {
        color: #999;
        &:hover {
            color: #666;
        }
    }
}