@font-face {
	font-family: 'icomoon';
	src:url('../_fonts/icomoon.eot?-t96fr9');
	src:url('../_fonts/icomoon.eot?#iefix-t96fr9') format('embedded-opentype'),
		url('../_fonts/icomoon.woff?-t96fr9') format('woff'),
		url('../_fonts/icomoon.ttf?-t96fr9') format('truetype'),
		url('../_fonts/icomoon.svg?-t96fr9#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arkaroy-logo:before {
	content: "\e600";
}

.icon-menu:before {
	content: "\e9bd";
}

