---
# Main style
---

@import "reset";
@import "base";
@import "layout";
@import "entry";
@import "icomoon";
@import "fontawesome";
@import "header";
@import "footer";
@import "selection";

.social-media-links {
    a {
        display: inline-block;
        background-color: $theme-color;
        color: #fff;
        line-height:30px;
        border:2px solid $theme-color;
        min-width:130px;
        margin: 0 10px 10px 0;
        i {
            width:30px;
            text-align:center;
            line-height:30px;
            background:#fff;
            color:$theme-color;
        }
        span {
            margin:0 10px 0 5px;
            font-size:0.9em;
        }
        &:hover {
            background-color: #fff;
            color:$theme-color;
            i {
                color: #fff;
                background-color: $theme-color;
            }
        }
    }
}

@import "button";

.portfolio-thumbs {
    display: inline-block;
    max-width: 280px;
    margin: 0 10px 10px 0;
    vertical-align: top;
}
.portfolio-thumbs img,
.portfolio-thumbs span {
    display: block;
}
.portfolio-thumbs img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
}
.portfolio-thumbs:hover img {
    border-color: #666;
}
.portfolio-thumbs span {
    margin-top: 10px;
}

.other-projects-list {
    list-style: none;
    padding: 0;
}

.social-share {
    margin-top: 40px;
    a {
        display: inline-block;
        margin: 5px;
        background-color: #50a02f;
        color: #fff;
        font-size: 20px;
        width: 40px;
        text-align: center;
        border:2px solid $theme-color;
        i {
            display:inline-block;
            line-height:36px;
        }
        &:hover {
            background-color: #fff;
            color: $theme-color;
        }
    }
}

.contact-form input,
.contact-form textarea {
    display: block;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom:20px;
    @extend .rounded;
}
.contact-form input:hover,
.contact-form textarea:hover {
    border-color: #aaa;
}
.contact-form input:focus,
.contact-form input:active,
.contact-form textarea:focus,
.contact-form textarea:active {
    border-color: #50a02f;
    outline: 0;
}
.contact-form button:hover,
.contact-form button:active {
    outline: 0;
}
.contact-form input.error {
    border-color: #a00;
}
.form-sending,
.form-sent {
    padding: 60px 15px;
    display: none;
}