html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block; /* 1 */
    vertical-align: baseline; /* 2 */
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
    margin-bottom: 0;
}

body {
    font-family: "Merriweather", "Roboto", "Lato", arial, sans-serif; // "Source Sans Pro", 
    background-color: #fff;
    font-size: 16px;
    color: #333;
    font-weight: 400;
    line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 400;
    color: inherit;
    line-height: 1.3;
    margin-top: 0.5em;
    margin-bottom: 10px;
}

h1 {
    font-size: 2.25em;
}

h1.text-big {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1em;
}

p {
    margin: 0 0 10px;
}

a {
    color: #50a02f;
    transition: all 0.4s;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: #222; //#5ab435;
}

code {
    color: #222;
    background: none;
    font-size: 1em;
}
pre {
    font-size: 1em;
    color: #222;
    border: 0;
    border-left: 4px solid #aaa;
    background: #eaeaea;
    border-radius: 0;
    word-break: normal;
    word-wrap: normal;
    padding: 10px;
}

pre code {
    white-space: pre;
}

.clearfix:after {
    display: block;
    width: 100%;
    height: 0;
    overflow: hidden;
    content: "";
    clear: both;
}

.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-justify {
    text-align: justify;
}
.text-nowrap {
    white-space: nowrap;
}
.text-lowercase {
    text-transform: lowercase;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-capitalize {
    text-transform: capitalize;
}
.text-muted {
    color: #777;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.section-divider {
    display: block;
    width: 100%;
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
    margin: 80px 0;
}

.section-title-sep {
    display: block;
    width: 30px;
    height: 1px;
    overflow: hidden;
    background-color: #666;
    margin: 20px auto;
}

.text-underline {
    display: inline-block;
    border-bottom: 1px solid #666;
    font-size: inherit;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

.light-text {
    font-weight: 300;
}

.paragraph-center {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

.hero {
    background-color: #222;
    min-height: 260px;
    padding: 40px;
    text-align: center;
    color: #fff;
    margin-bottom: 80px;
}

.page-header {
    padding: 30px 0;
    margin: 0;
    border-top: 5px solid #50a02f;
    border-bottom: 1px solid #ccc;
    transition: all 0.4s;
    margin-bottom: 80px;
}

.page-header .logo {
    font-size: 60px;
    color: #50a02f;
    margin-left: 15px;
    line-height: 1;
    display: inline-block;
}

.page-header .logo:hover {
    color: #333;
}

.page-header .logo i {
    display: inline-block;
}

.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: none;
    float: right;
    margin-top: 20px;
    margin-right: 15px;
}

.main-nav ul li {
    display: inline-block;
    margin-left: 30px;
}

.main-nav a {
    display: block;
    color: #333;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 24px;
    border-bottom: 2px solid transparent;
}

.main-nav a:hover {
    text-decoration: none;
    background: none;
    color: #50a02f;
}

.page-header.fixed {
    padding: 10px 0;
    margin: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #50a02f;
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-color: #fff;
    top: 0;
    left: 0;
}

.page-header.fixed .logo {
    font-size: 40px;
}

.page-header.fixed .main-nav ul {
    margin-top: 8px;
}

.menu-collapse {
    display: none;
}

@media screen and (max-width: 768px) {
    .menu-collapse {
        display: block;
    }

    .main-menu {
        clear: both;
        width: 100%;
        display: none;
    }

    .main-menu li {
        display: block !important;
        text-align: right;
    }
}

@media screen and (min-width: 769px) {
    .main-menu {
        display: block !important;
    }
}

footer {
    display: block;
    background-color: #50a02f;
    color: #fff;
    margin-top: 80px;
    font-size: 14px;
    padding: 8px 15px;
}

footer a {
    color: #f0f0f0;
}

footer a:hover {
    color: #fff;
}

.social-media-links {
    margin-top: 20px;
}
.social-media-links a {
    display: inline-block;
    font-size: 24px;
    line-height: 40px;
    width: 44px;
    margin: 5px;
    text-align: center;
    border:2px solid #50a02f;
    border-radius: 21px;
    position: relative;
}
.social-media-links a span {
    position: absolute;
    top: 100%;
    width: 300%;
    left: -38px;
    font-size: 14px;
    line-height: 28px;
    display: none;
}
.social-media-links a:hover {
    border-color: #222;
}
.social-media-links a:hover span {
    display: block;
}

.primary-button, .secondary-button {
    display: inline-block;
    text-transform: uppercase;
    padding: 0 20px;
    line-height: 40px;
    border: 1px solid #50a02f;
    margin: 5px;
}
.primary-button {
    color: #fff;
    background-color: #50a02f;
}
.primary-button:hover,
.primary-button:focus,
.primary-button:active,
.secondary-button:hover,
.secondary-button:focus,
.secondary-button:active {
    border-color: #222;
}
.primary-button:hover,
.primary-button:focus,
.primary-button:active {
    color: #fff;
    background-color: #222;
}

.post-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.post-wrapper img {
    max-width: 100%;
    height: auto;
}

.post {
    /*
    float: left;
    width: 100%;
    margin-left: -300px;
    padding-left: 315px;
    padding-right: 30px;
    border-right: 1px solid #ddd;
    */
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px;
}

.post-content img {
    border: 1px solid #ccc;
}

.post-sidebar {
    /*
    width: 270px;
    float: right;
    padding-right: 15px;
    */
    display: none;
}

@media screen and (max-width: 768px) {
    /*
    .post {
        margin-left: 0;
        padding-left: 15px;
        padding-right: 15px;
    }
    .post-sidebar {
        width: 100%;
        padding-left: 15px;
    }
    */
}

.portfolio-thumbs {
    display: inline-block;
    max-width: 300px;
    margin: 10px;
    vertical-align: top;
}
.portfolio-thumbs img,
.portfolio-thumbs span {
    display: block;
}
.portfolio-thumbs img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
}
.portfolio-thumbs:hover img {
    border-color: #666;
}
.portfolio-thumbs span {
    margin-top: 10px;
}

.other-projects-list {
    list-style: none;
    padding: 0;
}

.social-share {
    margin-top: 40px;
}
.social-share a {
    display: inline-block;
    margin: 5px;
    background-color: #50a02f;
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    width: 40px;
    text-align: center;
}
.social-share a:hover {
    background-color: #222;
}

.contact-form input,
.contact-form textarea {
    display: inline-block;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 1%;
}
.contact-form input:hover,
.contact-form textarea:hover {
    border-color: #aaa;
}
.contact-form input:focus,
.contact-form input:active,
.contact-form textarea:focus,
.contact-form textarea:active {
    border-color: #50a02f;
    outline: 0;
}
.contact-form button:hover,
.contact-form button:active {
    outline: 0;
}
.contact-form input {
    width: 48%;
}
.contact-form textarea {
    width: 98%;
}
.contact-form input.error {
    border-color: #a00;
}
@media screen and (max-width: 768px) {
    .contact-form input {
        width: 98%;
    }
}
.form-sending,
.form-sent {
    padding: 60px 15px;
    display: none;
}