body {
    font-family: "Lato", arial, sans-serif; // "Source Sans Pro", 
    background-color: #fff;
}

h5 {
    font-size: 16px;
}

a {
    color: #50a02f;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: #222; //#5ab435;
}

.section-divider {
    display: block;
    width: 100%;
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
    margin: 80px 0;
}

.section-title-sep {
    display: block;
    width: 30px;
    height: 1px;
    overflow: hidden;
    background-color: #666;
    margin: 20px auto;
}

.text-underline {
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 1px solid #666;
}

.light-text {
    font-weight: 300;
}

.paragraph-center {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
    font-size: 16px;
}

.hero {
    background-color: #222;
    min-height: 260px;
    padding: 40px;
    text-align: center;
    color: #fff;
    margin-bottom: 80px;
}

.hero h1 {
    font-size: 40px;
}

.top-bar {
    background-color: #50a02f;
}

.top-bar > a {
    display: block;
    color: #f0f0f0;
    text-decoration: none;
    font-size: 24px;
    line-height: 48px;
    min-width: 48px;
    text-align: center;
}

.top-bar a:hover, .main-menu-toggle.menu-active {
    color: #fff;
    text-decoration: none;
    background-color: #5ab435;
}

.main-menu-toggle {
    display: none !important;
}

.main-nav {
    list-style: none;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    background-color: none;
    /*display: none;*/
    float: right;
}

.main-nav li {
    display: inline-block;
}

.main-nav a {
    display: block;
    color: #f0f0f0;
    padding: 0 14px;
    line-height: 48px;
}

.main-nav a:hover {
    text-decoration: none;
    background-color: #5ab435;
}

@media screen and (max-width: 768px) {
    .main-nav {
        background: none;
    }
    .main-menu-toggle {
        display: block !important;
    }
    .main-nav {
        background-color: #5ab435;
        width: 100%;
        clear: both;
        display: none;
    }

    .main-nav li {
        display: block;
        border-bottom: 1px solid #64c63c;
    }

    .main-nav li:last-child {
        border-bottom: 0;
    }

    .main-nav a {
        line-height: 38px;
    }

    .main-nav a:hover {
        text-decoration: none;
        background-color: #64c63c;
        color: #fff;
    }
}

footer {
    display: block;
    background-color: #50a02f;
    color: #f0f0f0;
    margin-top: 80px;
    line-height: 36px;
    padding: 0 10px;
}

footer a {
    color: #f0f0f0;
}

footer a:hover {
    color: #fff;
}

.social-media-links {
    margin-top: 20px;
}
.social-media-links a {
    display: inline-block;
    margin: 5px;
    min-width: 100px;
    border:1px solid #50a02f;
    padding: 6px 0;
}
.social-media-links a:hover {
    border-color: #222;
}

.primary-button, .secondary-button {
    display: inline-block;
    text-transform: uppercase;
    padding: 6px 14px;
    border: 1px solid #50a02f;
    margin: 5px;
}
.primary-button {
    color: #fff;
    background-color: #50a02f;
}
.primary-button:hover,
.secondary-button:hover {
    border-color: #222;
}
.primary-button:hover {
    color: #fff;
    background-color: #222;
}

.post-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 16px;
}

.post-wrapper img {
    max-width: 100%;
    height: auto;
}

.post {
    float: left;
    width: 100%;
    margin-left: -300px;
    padding-left: 315px;
    padding-right: 30px;
    border-right: 1px solid #ddd;
}

.post-content img {
    border: 1px solid #ccc;
}

.post-sidebar {
    width: 270px;
    float: right;
    padding-right: 15px;
}

@media screen and (max-width: 768px) {
    .post {
        margin-left: 0;
        padding-left: 15px;
        padding-right: 15px;
    }
    .post-sidebar {
        width: 100%;
        padding-left: 15px;
    }
}

.portfolio-thumbs {
    display: inline-block;
    max-width: 240px;
    margin: 10px;
    vertical-align: top;
}
.portfolio-thumbs img,
.portfolio-thumbs span {
    display: block;
}
.portfolio-thumbs img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
}
.portfolio-thumbs:hover img {
    border-color: #666;
}
.portfolio-thumbs span {
    margin-top: 10px;
}

.other-projects-list {
    list-style: none;
    padding: 0;
}

.social-share {
    margin-top: 40px;
}
.social-share a {
    display: inline-block;
    margin: 5px;
    background-color: #50a02f;
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    width: 40px;
    text-align: center;
}
.social-share a:hover {
    background-color: #222;
}

.contact-form input,
.contact-form textarea {
    display: inline-block;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 1%;
}
.contact-form input:hover,
.contact-form textarea:hover {
    border-color: #aaa;
}
.contact-form input:focus,
.contact-form input:active,
.contact-form textarea:focus,
.contact-form textarea:active {
    border-color: #50a02f;
    outline: 0;
}
.contact-form button:hover,
.contact-form button:active {
    outline: 0;
}
.contact-form input {
    width: 48%;
}
.contact-form textarea {
    width: 98%;
}
.contact-form input.error {
    border-color: #a00;
}
@media screen and (max-width: 768px) {
    .contact-form input {
        width: 98%;
    }
}
.form-sending,
.form-sent {
    padding: 60px 15px;
    display: none;
}