{% include header.html %}

<div class="hero">
    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <p class="post-meta"><em>{{ page.date | date: "%b %-d, %Y" }} by {{ site.author.name }}</em></p>
    </header>
</div>

<div class="post-wrapper clearfix">

    <div class="post">

        <article class="post-content">
            {{ content }}
        </article>

        {% include social-share.html %}
        
    </div>

    <div class="post-sidebar">
    </div>

</div>

{% include footer.html %}