

{% include header.html %}

<div class="hero">
    <h1>{{ page.title }}</h1>
    <h3>{% if page.topic %} {{ page.topic }} {%endif%}</h3>
</div>

<div class="post-wrapper clearfix">

    <div class="post">

        <article class="post-content">
            {{ content }}
        </article>

        {% include social-share.html %}

    </div>    

    <div class="post-sidebar">
        <h3>Other Projects</h3>
        <ul class="other-projects-list">
            {% for post in site.categories['portfolio'] %}
                {% if post.url != page.url %}
                <li><a href="{{ post.url }}"><i class="fa fa-hand-o-right fa-fw"></i>&nbsp; {{ post.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

</div>

{% include footer.html %}


