---
layout: default
---

<div>

    <header class="entry-header">
        <h1 class="entry-title">{{ page.title }}</h1>
        <h4 class="entry-meta">{% if page.topic %} {{ page.topic }} {%endif%}</h4>
    </header>

    <article class="entry-content">
        {{ content }}
    </article>

    {% include social-share.html %}

</div>    

<div>
    <h3>Other Projects</h3>
    <ul class="other-projects-list">
        {% for post in site.categories['portfolio'] %}
        {% if post.url != page.url %}
        <li><a href="{{ post.url }}" rel="bookmark"><i class="fa fa-hand-o-right fa-fw"></i>&nbsp; {{ post.title }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
</div>



